.form-modal {
  /* display: none; */
}
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-window {
  width: 600px;
  border-radius: 5px;
  background: white;
  margin: 100px auto;
  font-size: 1.8rem;
}

.modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.modal-close {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content:center;
  align-items: center;
}

.modal-close:hover {
  background-color: #eee;
  border-radius: 50%;
}

.modal-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.modal-body input{
    
}

.modal-body input:first-child {
   margin-bottom: 1rem;
  }

.modal-footer {
  padding: 5px 10px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: end;
}

button.header__btn:first-child {
  margin-right: 0.7rem;
}
